<%= javascript_include_tag 'debug' %>
<h1>Session Testing</h1>
<p id="server_cookie">The cookie's SID (according to the server) is <strong><%= @cookie_sid_value %></strong></p>
<p id="browser_cookie">The cookie's SID (according to the browser) is <strong></strong></p>
<p id="browser_local">The SID in local storage is <strong></strong></p>
