@import 'global';

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 200;
    stroke-dashoffset: -30;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -120;
  }
}

@keyframes color {
  100%, 0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%, 90% {
    stroke: $yellow;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Image transitions
.image-enter {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.image-enter.image-enter-active {
  opacity: 1;
}

.image-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.image-leave.image-leave-active {
  opacity: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
