@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}