// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global';

$list-width: 300px;
$navbar-height: 50px;

body {
  background-color: rgb(225,225,225);
  font-family: sans-serif;
}
/********navigation bar***********/
.app-bar {
  position: relative;
  height: $navbar-height;
  color: white;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    z-index: 9999;
    background-color: #A053A1;
    padding: 10px;
    padding-left: 20px;
    @include box-shadow(0px, 0px, 15px, gray);
    .nav-title {
      font-size: 25px;
    }
  }

  ul{
    list-style:none;
    display: inline-block;
  }

  ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    transition:0.3s;
  }

  ul li:hover{
    background-color: rgba(193, 156, 192, 0.72);
  }

  ul li.focused{
    color:#fff;
    background-color: #783b79;
  }

  a.menu-btn {
    font-size: 30px;
    float: right;
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
  }
}

.menu {
  display:block;

  $menu-width:250px;

  >div {
    position:fixed;
    z-index:2;
    top:0;
    width:$menu-width;
    height:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;

    &.left {
      background:#fefefe;
      left:$menu-width*-1;
    }

    &.visible.left {
      -ms-transform: translate3d(250px, 0, 0);
      -webkit-transform: translate3d(250px, 0, 0);
      -o-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
    }

    >.menu-item {
      float:left;
      width:100%;
      margin:0;
      padding:18px 24px;
      cursor:pointer;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      color:#000000;
      font-size: 13px;

      &:hover {
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background: rgba(248, 248, 248, 1);
      }
    }

    >.first-item {
      border-top:solid 1px #d3d3d3;
      margin-top: 10px;
      color: #783b79;
    }
  }
}

/******** main body ***********/
.app-main {
  margin-top: 25px;
  width: 100%;
}

.infinite-list {
  width: $list-width;
  margin: 0 auto;
}

.list-item {
  height: 400px;
  margin-bottom: 30px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  animation: fadein 0.3s;
  @include box-shadow(0px, 0px, 7px, gray);
  @include border-radius(5px);
}

.loading-image {
  width: $list-width;
  height: $list-width;
  background-color: #eee;
  /* loading spinner */
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-spinner {
  text-align: center;
}

.loading-spinner {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
  circle {
    animation:
    dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 200;
    stroke-dashoffset: -30;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -120;
  }
}

$green: #00C853;
$blue: #0091EA;
$red: #D50000;
$yellow: #FFAB00;

@keyframes color {
  100%, 0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%, 90% {
    stroke: $yellow;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}