// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global';
@import 'animation';

body {
  background-color: $background-color;
  font-family: sans-serif;
}

.app-bar {
  position: relative;
  height: $navbar-height;
  color: white;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    line-height: $navbar-height;
    z-index: 9999;
    background-color: $appbar-color;
    padding: 10px 20px;
    @include box-shadow(0px, 0px, 15px, gray);
    .nav-title {
      font-size: 25px;
    }
    .nav-links {
      float: right;
      a {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}

.app-main {
  margin-top: 25px;
  width: 100%;
}

.post {
  height: $list-width + 35px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 2px 5px 11px 5px;
  width: $list-width;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-left: -10px;
  overflow: hidden;
  padding: 10px;
  animation: fadein 0.3s;
  @include box-shadow(0px, 0px, 7px, gray);
  @include border-radius(5px);
}

.image {
  width: $list-width;
  height: $list-width;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    max-width: $list-width;
    max-height: $list-width;
  }
  .spinner {
    position: absolute;
    left: $list-width/2 - $spinner-width/2;
    top: $list-width/2 - $spinner-width/2;
  }
}

.image-submit-form {
  width: $list-width;
  height: $list-width;
  position: absolute;
  top: 0;
  left: 0;
  label {
    line-height: $list-width;
    text-align: center;
    display: inherit;
    font-size: 25px;
  }
  input {
    opacity: 0;
  }
  input, .fake-input {
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
  }
  .fake-input {
    text-align:center;
    font: 4em "Open Sans", sans-serify;
    line-height: 75px;
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
  button {
    display: block;
    height: 3rem;
    line-height: 3rem;
    color: white;
    background-color: $appbar-color;
    cursor: pointer;
    padding: 0 4rem;
    @include border-radius(3px);
    border: none;
    @include box-shadow(0px, 0px, 7px, gray);
    text-transform: uppercase;
    position: absolute;
    bottom: 1rem;
    left: $list-width/2 - 176px/2px;
    animation: fadein 0.5s;
    width: 176px;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  display: block;
  height: $spinner-width;
  width: $spinner-width;
  margin: auto;
  circle {
    animation:
      dash 1.5s ease-in-out infinite,
      color 6s ease-in-out infinite;
  }
}

.message-box {
  position:absolute;
  width: 80%;
  left: 10%;
  top: $navbar-height + 3*10px;
  z-index: 99;
  .notification {
    background-color: $red;
    margin: auto;
    display: table;
    line-height: 1.5em;
    padding: 0 3em;
    @include border-radius(3px);
    border: none;
    @include box-shadow(0px, 0px, 3px, gray);
  }
}

/******* comment page **************/
.comment-list {
  overflow: auto;
  max-height: 250px;
  font-size: 12px;
  padding-left: 5px;
  .comment {
    margin-top: 10px;
    line-height:130%;
    .comment-author {
      font-weight: bold;
      color: $blue;
      margin-right: 10px;
    }
  }
}

.comment-form {
  margin-top: 10px;
  padding-left: 2px;
  .new-comment-name {
    width: 20%;
  }
  .new-comment-text {
    width: 60%;
  }
}

.comments-card {
  margin: 0 auto;
  padding: 2px 5px 11px 5px;
  width: $list-width;
}

/******** vote ******************/
.vote {
  padding: 2px 5px 11px 5px;
  margin-bottom: 0;
  padding-top: 10px;

.up-clicked, .up-unclicked {
  float: left;
  font-size: 25px;
  transform: rotate(-90deg);
}
  .up-clicked{
    color: $blue;
  }
  .up-unclicked{
    color: $deep-gray;
  }

  a {
    cursor: pointer;
  }

  .score {
    float: left;
    width: 80%;
    text-align: center;
    font-size: x-large;
    color: $deep-gray;
  }

  .down-clicked, .down-unclicked {
    float: right;
    font-size: 25px;
    transform: rotate(90deg);
  }

  .down-clicked {
    color: $blue;
  }

  .down-unclicked {
    color: $deep-gray;
  }
}
